.mapboxgl-map .mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-content {
  background: none;
  border-radius: 8px;
  width: fit-content;
  padding: 0; }
  .mapboxgl-map .mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-content .mapboxgl-popup-close-button {
    visibility: hidden; }

.mapboxgl-map .mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #F1F5F9 !important; }

.mapboxgl-ctrl-top-right {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end; }
  .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 10px 10px 0 10px; }
    .mapboxgl-ctrl-top-right .mapboxgl-ctrl .directions-control .directions-control-directions {
      border-radius: 2% 2% 0 0; }
      .mapboxgl-ctrl-top-right .mapboxgl-ctrl .directions-control .directions-control-directions .mapbox-directions-instructions {
        max-height: 25vh;
        margin-bottom: 35px;
        border-bottom: 1px solid gray; }
  .mapboxgl-ctrl-top-right .mapboxgl-ctrl.mapboxgl-ctrl-group {
    border-radius: 100%;
    height: 40px;
    width: 40px; }
    .mapboxgl-ctrl-top-right .mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-geolocate {
      margin: 5px auto; }
  .mapboxgl-ctrl-top-right .mapboxgl-ctrl-directions {
    width: 100%;
    min-width: 100%;
    margin: 0px auto;
    overflow: hidden; }

.boxdraw {
  background: rgba(56, 135, 190, 0.1);
  border: 2px solid #3887be;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0; }
